@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

.header{
    color: #fff;
    font-family: 'Urbanist', sans-serif;
    font-size: 25px;
    font-weight: medium;
    padding: 50px 20px;
    text-align: center;
}

.header a{
    color: #fff;
    text-decoration: none;
    margin-right: 30px;
}