@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

.footer{
    color: #fff;
    font-weight: 500;
    font-size: 22px;
    font-family: 'Urbanist', sans-serif;
    display: flex;
    margin: 0 auto;
    padding: 15px 0;
    width: 90%;
    justify-content: space-between;
}
.footer a{
    color: #fff;
}