@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

.footer{
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #fff;
    font-weight: 500;
    font-size: 22px;
    font-family: 'Urbanist', sans-serif;
    display: flex;
    width: 98vw;
    justify-content: space-between;
}
.footer a{
    color: #fff;
}