.header{
    color: #fff;
    font-size: 25px;
    font-weight: medium;
    padding: 50px 70px;
    text-align: center;
    background-color: #060709;
}

.header a{
    color: #fff;
    text-decoration: none;
    margin-right: 30px;
    transition: 2s;
    border-bottom: 0;
}
.header a:hover{
    border-bottom: 1px solid #fff;
}