.center{
    max-width: 1500px;
    display: block;
    margin: 0 auto;
    color: #fff;
    padding: 20px 0;
}
.main{
    width: 99.2vw;
    background-color: #060709;
}
.sobre{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
.sobre img{
    width: 100%;
    max-width: 260px;
}
.sobre p{
    max-width: 1000px;
    margin-left: 20px;
    font-size: 30px;
}
.sobre span{
    color:#267b8a;
}
.sobreImage{
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.sobreImage a{
    color: #fff;
    text-decoration: none;
}

.skills{
    text-align: center;
    margin: 50px 0;
}
.skills h2{
    font-size: 35px;
}
.skills img{
    width: 95%;
    max-width: 1070px;
}

.formacao{
    text-align: center;
}
.formacao img{
    width: 95%;
    max-width: 900px;
}
.formacao h2{
    font-size: 35px;
    margin-bottom: 30px;
}

.space{
    background-color: #fff;
    width: 100%;
    display: block;
    height: 2px;
    margin: 100px 0;
}