.center{
    max-width: 1500px;
    display: block;
    margin: 0 auto;
    color: #fff;
    padding: 20px 0;
}
.main{
    width: 99.2vw;
    background-color: #060709;
}
.sobre{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    background-color: #12151b;
    padding: 20px 0;
}
.sobre img{
    width: 100%;
    max-width: 260px;
}
.sobre p{
    max-width: 1000px;
    margin-left: 20px;
    font-size: 1.5em;
}
.sobre span{
    color:#267b8a;
}
.sobreImage{
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.sobreImage a{
    color: #fff;
    text-decoration: none;
}

.sobreAreas{
    padding: 20px 0;
    background-color: #12151b;
}
.sobreAreas h3{
    margin-bottom: 5px;
    font-size: 20px;
}
.sobreAreas p{
    font-size: 18px;
    text-align: start;
    border-bottom: 0.5px solid #cccccc;
    margin-bottom: 5px;
}

.skills{
    text-align: center;
    margin: 60px 0;
    padding: 20px 0;
}
.skills h2{
    font-size: 35px;
    margin-bottom: 30px;
}
.skillsimg{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.skillsimg img{
    margin-right: 10px;
    margin-bottom: 10px;
}

.formacao{
    border-top: 1px solid white;
    padding: 20px 0;
}
.formacao img{
    width: 95%;
    max-width: 900px;
}
.formacao h2{
    font-size: 35px;
    margin-bottom: 30px;
    text-align: center;
}
.formacao h3{
    font-size: 25px;
}

.space{
    background-color: #fff;
    width: 100%;
    display: block;
    height: 2px;
    margin: 100px 0;
}
/* formaçao itens */
.formacaoDiv{
    padding: 20px 10px;
    border: solid 1px white;
    border-right: 0px;
    border-left: 0px;
    list-style: inside;
    margin-top: 20px;
}
.formacaoDiv h4{
    margin: 15px 0;
}
.formacaoDivTwo{
    padding: 20px 10px;
    border: solid 1px white;
    border-right: 0px;
    border-left: 0px;
    width: 49%;
    margin-top: 20px;
    background-color: #12151b;

}
.formacaoDivTwo h4{
    margin-top: 20px;
}
.formacaoDivTwo h3{
    font-size: 25px;
}
.formacaoDivTwo ul{
    list-style: inside;
}
.formacaoDivTwoList{
    margin: 10px 0 20px;
}
.formacaoDivTwoList li{
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}
.formacaoDivTwoCol{
    display: flex;
    width: 100%;
    justify-content: space-between;
}


/*Tablet*/
@media screen and (max-width:900px){
    .main{
        width: 100vw;
    }
    .sobre{
        display: block;
        width: 98vw;
    }
    .sobre p{
        width: 100%;
        padding: 0 10px;
        margin: 0;
        font-size: 20px;
    }
    .sobreImage{
        margin-bottom: 20px;
    }
    .sobreImage img{
        margin: 0 auto 10px;
    }
    .formacao img{
        display: none;
    }
    .formacaoItens{
        display: inline;
    }
    .skillsDesktop{
        display: none;
    }
    .formacaoDivTwoCol{
        display: block;
    }
    .formacaoDivTwo{
        width: 95%;
        display: block;
        margin: 10px auto;
    }
    .sobreAreas{
        width: 90%;
        display: block;
        margin: 0 auto;
    }
    .sobreAreas p{
        margin-bottom: 5px;
    }
}