.main{
  text-align: center;
  color: #ffff;
}
.main h1{
  font-size: 140px;
  letter-spacing: 1px;
  color:#ffff;
}
.main h2{
  font-size: 120px;
  letter-spacing: 68px;
  font-weight: 150;
  display: block;
  margin-top: -90px;
  color:#ffff;
}

.columns{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 200px 0 100px 0;
}
.colum1{
  padding-left: 100px;
}
.colum2{
  display: flex;
  flex-direction: column;
  padding: 30px 25px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #fff;
}
.colum2 img{
  margin-bottom: 15px;
  transition: 0.5s;
}
.colum2 img:hover{
  width: 50px;
  height: 50px;
}

.frase{
  text-align: center;
  font-size: 25px;
  margin-bottom: 80px;
}

/*Tablet*/
@media screen and (max-width:900px) {
  .columns{
    max-width: 100%;
    display: block;
    margin: 100px auto;
  }
  .colum1{
    text-align: center;
    padding-left: 0px;
    margin: 0;
  }
  .colum1 h1{
    font-size: 88px;
  }
  .colum1 h2{
    padding-left: 40px;
    font-size: 72px;
    margin-top: -50px;
    letter-spacing: 45px;
  }
  .colum2{
    width: 250px;
    padding: 20px;
    margin: 0 auto;
    border-radius: 20px;
    flex-direction: row;
    justify-content: space-between;
  }
  .colum2 img{
    margin: 0;
  }
  .frase{
    margin-bottom: 300px;
  }
}

/*mobile*/
@media screen and (max-width:500px){
  .colum1{
    padding: 0 10px;
  }
  .colum1 h1{
    font-size: 80px;
  }
  .colum1 h2{
    font-size: 68px;
    padding: 0;
  }
  .frase{
    padding: 0 10px;
    margin-bottom: 50%;
  }
}