.main{
    color: #fff;
    text-align: center;
}
.main h1{
    font-family: 'Urbanist', sans-serif;
    font-size: 110px;
    font-weight: 400;
    margin-top: 200px;
}

.icons{
    display: flex;
    justify-content: center;
    margin-bottom: 330px;
}
.icons img{
    margin-right: 80px;
}

/*Tablet*/
@media screen and (max-width:900px){
    .icons{
        justify-content: space-evenly;
    }
    .icons img{
        margin: 0;
    }
}