@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    background-color: #e3e3e3;
}

.main h1{
    color: #fff;
    font-size: 35px;
}
.main svg{
    position: relative;
    bottom: -25px;
    left: -15px;
    width: 40px;
}

.sobre h1{
    background-color: #341058;
    padding: 20px 0px 20px 446px;
    margin-top: 150px;
}
.dados_sobre{
    display: flex;
    /* height: 350px; */
}
.dados_sobre p{
    padding: 10px 150px 10px 50px;
    font-weight: 700;
    font-size: 22px;
}
.sobre_img{
    position: relative;
    top: -160px;
    margin-left: 32px;
}
.sobre_img img{
    border-radius: 10px;
    width: 367px;
}

.tecnologia{
    background-color: #5A0E7E;
    color: #fff;
}
.tecnologia h1{
    padding: 10px 20px 0;
    background-color: #5A0E7E;
}
.tecnologia_slider{
    padding: 100px 20%;
    text-align: center;
}
.tecnologia_slider img{
    width: 200px;
    margin: 30px;
    border-radius: 20px;
    position: relative;
    top: 40px;
    box-shadow: 10px 10px 30px 10px rgb(0, 0, 0);
}

.tecnologia_slider .swiper-slide-next img{
    width: 250px;
    position: relative;
    top: auto;
    box-shadow:none;
}

.cursos{
    background-image: url('./images/background.jpg');
    background-position: center;
}
.cursos h1{
    padding: 10px 20px 0;
}

.cursos-sobre{
    padding: 50px 15% 100px;
    display: flex;
    justify-content: space-around;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}
.cursos-sobre li{
    border: 1px solid;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.projetos{
    background-color: #BC6FF1;
    
}
.projetos h1{
    color: #000;
    padding: 10px 20px 0;
}
.projetos-sobre{
    padding: 0 5%;
}

.projeto{
    padding: 60px 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img-projeto{
    width: 50%;
    border-radius: 10px;
}
.separador-projeto{
    width: 10px;
    height: 400px;
}

.img-pesquisa{
    height: 270px;
}

.projeto-sobre{
    max-width: 400px;
}

.link-icon{
    position: relative;
    bottom: -5px;
    right: -5px;
}

.projeto-sobre a{
    text-decoration: none;
    color: #fff;
}

footer{
    background-color: #000;
    color: #fff;
}

.info-footer{
    padding: 150px 98px 100px;
    display: flex;
    justify-content: space-around;
}

.icon-social{
    
}
.icon-social p{
    margin: 0 10px;
    font-size: 20px;
    font-weight: bold;
}

.copywriter{
    padding:10px;
}

.icon-social a{
    display: flex;
    align-items: center;
    color: #fff;
}